<section>
  <div class="small-12 column m-small-t">
      <div class="white">
          <h1 class="payment-header">Payment:</h1>
          <form [formGroup]="orderForm">
              <div class="payment-form">
                  <input class="small-12 large-4 form-input" type="text" placeholder="Name" formControlName='name'>
                  <input class="small-12 large-3 form-input" type="text" placeholder="Address" formControlName='address'>
                  <input class="small-12 large-2 form-input" type="text" placeholder="Number" formControlName='number'>
                  <input class="small-12 large-2 form-input" type="text" placeholder="Complement" formControlName='complement'>
                  <div class="payment-option">
                      <p class="small-12 column payment-text">Payment Option:</p>
                      <select class="small-12 large-2 form-input select">
                          <option value="cash">Cash</option>
                          <option value="credit">Credit Card</option>
                          <option value="debit">Debit</option>
                      </select>
                  </div>
                  <h1 class="cart-item-header">Cart Items:</h1>
                  <div class="table">
                      <app-order-items [items]="cartItems()" (increaseQty)="increaseQty($event)"
                      (decreaseQty)="decreaseQty($event)"></app-order-items> 
                  </div>
                  <div class="order-totals">
                      <p class="small-9 delivery-text">Taxa de entrega:</p>
                      <p class="small-3 delivery-text cost">{{deliveryFee}}</p>
                      <p class="small-9 delivery-text total">Total:</p>
                      <p class="small-3 delivery-text cost">{{total() | currency:'BRL': true}}</p>
                  </div>
                  <div class="clean-pay">
                       <a (click)="checkOrder(orderForm.value)" class="btn pay">Pay</a>
                       <button (click)="clear()" class="btn clean">Clean Cart</button>
                   </div>
              </div>
          </form>
      </div>
  </div>
</section>