<header class='home'>
  <div class="logo">
      <h1><a href="index.html">Delivery</a></h1>
  </div>
  <nav>
      <div class="menu">
          <a href="restaurants.html"class="menu-item-home">Restaurants</a>
          <a href="about.html" class="menu-item-home">About</a>
      </div>
  </nav>
</header>
<section class="section-home">
  <div class="txt">
      <h1>Welcome to the App!</h1>
      <p>Are you hungry? Click the button below and make your order!</p>
      <button class="btn-transparent">Make your order!</button>
  </div>
</section>