<section class="section-restaurant">
  <div class="small-12 medium-12 large-6 left" *ngFor="let restaurant of restaurants">
    <a [routerLink]="['/restaurants', restaurant.id]">
      <div class="box-info">
        <span class="box-icon">
          <img class="box-img" [src]="restaurant.img_path">
        </span>
        <div class="box-content">
          <span class="box-text">{{restaurant.name}}</span>
          <span class="box-detail">{{restaurant.category}}</span>
        </div>
      </div>
    </a>
  </div>
</section>
