<div class="small-12 large-5 column cart">
  <div class="white">
      <div class="section-header">
          <span>Cart</span>
      </div>
      <div class="cart-item">
          <p class="dish-name">1x Dish Name</p>
          <div class="add-remove">
              <a class="add-remove-m"><i class="minus"></i></a>
              <a class="add-remove-p"><i class="plus"></i></a>
          </div>
          <p class="cart-price">$15.00</p>
      </div>
      <div class="totals">
          <p>Total: </p>
          <p class="total-value">$15.00</p>
      </div>
      <div class="clean-pay">
          <a class="btn pay" href="payment.html">Pay</a>
          <button class="btn clean">Clean Cart</button>
      </div>
  </div>
</div>