<div class="small-12 large-5 column cart">
  <div class="white">
      <div class="section-header">
          <span>Cart</span>
      </div>
      <div class="cart-item" *ngFor="let item of items()">
          <p class="dish-name">({{item.quantity}}){{item.menuItem.name}}</p>
          <div class="add-remove">
              <a class="add-remove-m" (click)="decreaseQty(item)"><i class="minus"></i></a>
              <a class="add-remove-p" (click)="increaseQty(item)"><i class="plus"></i></a>
          </div>
          <p class="cart-price">{{item.value() | currency: 'BRL': true}}</p>
      </div>
      <div class="totals">
          <p>Total: </p>
          <p class="total-value">{{total() | currency: 'BRL': true}}</p>
      </div>
      <div class="clean-pay">
          <a [routerLink]="['/order']" class="btn pay" href="payment.html">Pay</a>
          <button class="btn clean" (click)="clear()">Clean Cart</button>
      </div>
  </div>
</div>
