header {
    display: inline-block;
    height: 85px;
    color: #fff;
}
nav {
    float: right;
    height: 100%;
}
.logo {
    float: left;
    margin-left: 15px;
}
.logo a {
    text-decoration: none;
    color: #fff;
}
.logo h1 {
    margin: 0;
    margin-top: 21px;
}
.logo:hover {
    cursor: pointer;
}
.menu {
    padding: 30px 5px 0 0;
    height: 100%;
}
.menu-item-home {
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
}
.menu-item-home:hover {
    background-color: #26A019;
    cursor: pointer;
}
@media (min-width: 640px) {
    body {
        background-size: cover !important;
    }
    nav {
        float: left;
    }
    .logo {
        height: 100%;
        padding-right: 15px;
        margin-left: 75px;
    }
    .txt {
        top: 200px;
    }
    .btn-transparent {
        width: 15%;
    }
    .menu-item {
        font-size: 16px;
    }
}