<section class="section-rest-header">
  <div class="small-12">
      <div class="rest-info">
          <span class="rest-icon">
              <img class="box-img" [src]="restaurant.img_path">
          </span>
          <div class="rest-content">
              <span class="rest-name">{{restaurant.name}}</span>
              <span class="rest-detail">{{restaurant.category}}</span>
          </div>
      </div>
  </div>
</section>
<section class="section-restaurant-menu">
  <app-menu></app-menu>
</section>
